name: build

on:
  push:
    branches-ignore:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: checkout public
        uses: actions/checkout@v6
        with:
          path: public
          fetch-depth: 0
          ref: master
      - name: setup hugo
        run: |
          curl -sSL https://github.com/gohugoio/hugo/releases/download/v0.120.4/hugo_0.120.4_Linux-64bit.tar.gz -o hugo.tar.gz
          tar xzvf hugo.tar.gz
          sudo mv hugo /usr/local/bin/hugo
      - run: hugo
      - name: publish
        run: |
          git config --global user.email "shogo82148@gmail.com"
          git config --global user.name "Ichinose Shogo"
          git add .
          git commit -m "site update"
          git push
        working-directory: public
        if: github.ref == 'refs/heads/source'
